In [16]:

import findspark
findspark.init()
import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkFunctions").master("local[4]").enableHiveSupport().getOrCreate()

In [17]:

file_location = "C:/Users/Dinesh_2/Desktop/Patient_Dashboard_Active.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

df_vw = spark.read.format(file_type) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .option("encoding", "UTF-8") \
  .load(file_location)

In [18]:
df=df_vw.select('Patient','DOB','SSN','Address','Chart Status')
df.show()

+--------------------+----------+-----------+--------------------+--------------------+
|             Patient|       DOB|        SSN|             Address|        Chart Status|
+--------------------+----------+-----------+--------------------+--------------------+
|     AASGAARD, LINDA|05/14/1943|       null|1400 CIRCLE CITY ...|            Admitted|
|              Shuman|      null|       null|                null|                null|
|       ABARCA, RAMON|08/26/1942|551-66-3306|7120 CORBIN AVE R...|          Discharged|
|      ABBAS, ALIDAEE|04/03/1952|       null|13881 DAWSON ST G...|            Admitted|
|              MARKIE|      null|       null|                null|                null|
|      ABBOTT, CONNIE|09/17/1961|       null|5400 STINE ROAD B...|          Discharged|
|      ABBOTT, CONNIE|09/17/1961|       null|5400 STINE ROAD B...|          Discharged|
|    ABDOLI, MOHAMMAD|08/25/1948|443-74-4056|466 FLAGSHIP RD N...|           Non-admit|
|ABEL MEDRIGAL, DE...|12/13/1971|       null|6401 33RD ST RIVE...|          Discharged|
| ABERNATHY, PATRICIA|02/27/1949|       null|1665 M. STREET FR...|          Discharged|
|       ABITIA, ANGEL|04/16/1955|561-04-6190|605 W. BROADWAY G...|          Discharged|
|   ABITIA, ANGEL (I)|04/16/1955|561-04-6190|605 W BROADWAY AV...|          Discharged|
|         ABLE, SHARI|06/06/1939|  566488725|225 North Crescen...|          Discharged|
|             GILMORE|      null|       null|                null|                null|
|              Isbell|      null|       null|                null|                null|
|         ABLE, SHARI|06/06/1939|  566488725|225 North Crescen...|            Admitted|
|             GILMORE|      null|       null|                null|                null|
|              Isbell|      null|       null|                null|                null|
|    ABOUDI, SHERAFAT|06/19/1940|       null|1019 S Wooster St...|          Discharged|
|Above & Beyond, F...|      null|       null|                null|Transition TO CCTALW|
+--------------------+----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [19]:
df.printSchema()

root
 |-- Patient: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Chart Status: string (nullable = true)

In [20]:
df.describe().show()

+-------+--------------------+--------------+--------------------+--------------------+---------------+
|summary|             Patient|           DOB|                 SSN|             Address|   Chart Status|
+-------+--------------------+--------------+--------------------+--------------------+---------------+
|  count|               13657|         11204|                5553|               11188|          11525|
|   mean|                null|          null| 4.905207640543478E8|                null|           null|
| stddev|                null|          null|1.6742654088538024E8|                null|           null|
|    min|"ABRAHAMIAN, KRIK...|    01/01/1916|          36-46-5011|	7324 Canby Ave R...|ARIAS, GABRIELA|
|    max|                x, x|Sanjari, Nadia|         XXX-XX-8917|undecided LOS ANG...|lacanilao, emma|
+-------+--------------------+--------------+--------------------+--------------------+---------------+

In [21]:
df = df.withColumnRenamed('DOB','Date of Birth').withColumnRenamed('Address','ADDR').withColumnRenamed('Chart Status','Chart_Status')
df.show()

+--------------------+-------------+-----------+--------------------+--------------------+
|             Patient|Date of Birth|        SSN|                ADDR|        Chart_Status|
+--------------------+-------------+-----------+--------------------+--------------------+
|     AASGAARD, LINDA|   05/14/1943|       null|1400 CIRCLE CITY ...|            Admitted|
|              Shuman|         null|       null|                null|                null|
|       ABARCA, RAMON|   08/26/1942|551-66-3306|7120 CORBIN AVE R...|          Discharged|
|      ABBAS, ALIDAEE|   04/03/1952|       null|13881 DAWSON ST G...|            Admitted|
|              MARKIE|         null|       null|                null|                null|
|      ABBOTT, CONNIE|   09/17/1961|       null|5400 STINE ROAD B...|          Discharged|
|      ABBOTT, CONNIE|   09/17/1961|       null|5400 STINE ROAD B...|          Discharged|
|    ABDOLI, MOHAMMAD|   08/25/1948|443-74-4056|466 FLAGSHIP RD N...|           Non-admit|
|ABEL MEDRIGAL, DE...|   12/13/1971|       null|6401 33RD ST RIVE...|          Discharged|
| ABERNATHY, PATRICIA|   02/27/1949|       null|1665 M. STREET FR...|          Discharged|
|       ABITIA, ANGEL|   04/16/1955|561-04-6190|605 W. BROADWAY G...|          Discharged|
|   ABITIA, ANGEL (I)|   04/16/1955|561-04-6190|605 W BROADWAY AV...|          Discharged|
|         ABLE, SHARI|   06/06/1939|  566488725|225 North Crescen...|          Discharged|
|             GILMORE|         null|       null|                null|                null|
|              Isbell|         null|       null|                null|                null|
|         ABLE, SHARI|   06/06/1939|  566488725|225 North Crescen...|            Admitted|
|             GILMORE|         null|       null|                null|                null|
|              Isbell|         null|       null|                null|                null|
|    ABOUDI, SHERAFAT|   06/19/1940|       null|1019 S Wooster St...|          Discharged|
|Above & Beyond, F...|         null|       null|                null|Transition TO CCTALW|
+--------------------+-------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [22]:
df = df.fillna({'ADDR':'NA', 'SSN' : 'NA'})
df.show()

+--------------------+-------------+-----------+--------------------+--------------------+
|             Patient|Date of Birth|        SSN|                ADDR|        Chart_Status|
+--------------------+-------------+-----------+--------------------+--------------------+
|     AASGAARD, LINDA|   05/14/1943|         NA|1400 CIRCLE CITY ...|            Admitted|
|              Shuman|         null|         NA|                  NA|                null|
|       ABARCA, RAMON|   08/26/1942|551-66-3306|7120 CORBIN AVE R...|          Discharged|
|      ABBAS, ALIDAEE|   04/03/1952|         NA|13881 DAWSON ST G...|            Admitted|
|              MARKIE|         null|         NA|                  NA|                null|
|      ABBOTT, CONNIE|   09/17/1961|         NA|5400 STINE ROAD B...|          Discharged|
|      ABBOTT, CONNIE|   09/17/1961|         NA|5400 STINE ROAD B...|          Discharged|
|    ABDOLI, MOHAMMAD|   08/25/1948|443-74-4056|466 FLAGSHIP RD N...|           Non-admit|
|ABEL MEDRIGAL, DE...|   12/13/1971|         NA|6401 33RD ST RIVE...|          Discharged|
| ABERNATHY, PATRICIA|   02/27/1949|         NA|1665 M. STREET FR...|          Discharged|
|       ABITIA, ANGEL|   04/16/1955|561-04-6190|605 W. BROADWAY G...|          Discharged|
|   ABITIA, ANGEL (I)|   04/16/1955|561-04-6190|605 W BROADWAY AV...|          Discharged|
|         ABLE, SHARI|   06/06/1939|  566488725|225 North Crescen...|          Discharged|
|             GILMORE|         null|         NA|                  NA|                null|
|              Isbell|         null|         NA|                  NA|                null|
|         ABLE, SHARI|   06/06/1939|  566488725|225 North Crescen...|            Admitted|
|             GILMORE|         null|         NA|                  NA|                null|
|              Isbell|         null|         NA|                  NA|                null|
|    ABOUDI, SHERAFAT|   06/19/1940|         NA|1019 S Wooster St...|          Discharged|
|Above & Beyond, F...|         null|         NA|                  NA|Transition TO CCTALW|
+--------------------+-------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [23]:
df=df.filter(df.Chart_Status!='Discharged')
df.show()

+--------------------+-------------+-----------+--------------------+--------------------+
|             Patient|Date of Birth|        SSN|                ADDR|        Chart_Status|
+--------------------+-------------+-----------+--------------------+--------------------+
|     AASGAARD, LINDA|   05/14/1943|         NA|1400 CIRCLE CITY ...|            Admitted|
|      ABBAS, ALIDAEE|   04/03/1952|         NA|13881 DAWSON ST G...|            Admitted|
|    ABDOLI, MOHAMMAD|   08/25/1948|443-74-4056|466 FLAGSHIP RD N...|           Non-admit|
|         ABLE, SHARI|   06/06/1939|  566488725|225 North Crescen...|            Admitted|
|Above & Beyond, F...|         null|         NA|                  NA|Transition TO CCTALW|
|   ABRAHAM, FLORENCE|   01/13/1937|554-58-4615|225 NORTH CRESCEN...|            Admitted|
|ABRAMS, JEAN MARI...|   10/31/1954|         NA|9925 LA ALAMEDA A...|            Admitted|
|     ABRAMSON, ALIZA|   06/23/1933|         NA|1250 BOYNTON ST G...|            Admitted|
|    ABRIOL, THEODORE|   02/14/1965|         NA|25533 RUA MICHELL...|            Admitted|
|        ACEBES, NORA|   12/09/1932|         NA|12229 CHANDLER BL...|            Admitted|
|  ACEBO, LEONORA (I)|   12/17/1930|613-12-4094|654 S ANZA ST EL ...|           Non-admit|
|       ACEVES, LAURA|   03/07/1994|         NA|3312 COFFEE RD MO...|            Admitted|
|   ACHA, ARGELIA (I)|   04/09/1924|552-02-9800|22520 MAPLE AVE T...|           Non-admit|
|      ACOSTA, ALFRED|   05/07/1930|         NA|9925 LA ALAMEDA A...|            Admitted|
|       ACOSTA, LINDA|   12/23/1961|         NA|3175 E. WASHINGTO...|            Admitted|
|    ACOSTA, ROSEMARY|   05/13/1953|546-94-2154|1665 M ST FRESNO,...|           Non-admit|
|       ACUNA, CARMEN|   07/21/1940|         NA|845 BRDWY #313 CH...|           Non-admit|
|       ACUNA, CARMEN|   07/21/1940|         NA| 3223 DUKE ST.  S...|            Admitted|
|     ADAME, CLEMENTE|   12/07/1938|466-58-9049|2211 WEST 6TH STR...|            Admitted|
|      ADAMES, ELIJAH|   01/18/2018|         NA|13204 MIRA SOL DR...|            Admitted|
+--------------------+-------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [28]:
df1=df.join(df.select('Patient','SSN','ADDR'),(df.Patient==df.Patient) & (df.SSN==df.SSN),how='fullouter')
df1.select('Date of Birth').show()

+-------------+
|Date of Birth|
+-------------+
|   01/11/1973|
|   12/04/1939|
|   10/03/1922|
|   03/06/1988|
|   05/30/1976|
|   10/03/1993|
|   11/11/1984|
|   08/12/1946|
|   03/23/1954|
|   05/31/1981|
|   04/10/1948|
|   05/25/1924|
|   05/25/1924|
|   05/25/1924|
|   05/25/1924|
|   04/18/1946|
|   01/03/1936|
|   05/19/1946|
|   12/29/1950|
|   04/10/1966|
+-------------+
only showing top 20 rows

In [29]:
from pyspark.sql import functions as F
help(F)

Help on module pyspark.sql.functions in pyspark.sql:

NAME
    pyspark.sql.functions - A collections of builtin functions

FUNCTIONS
    abs(col)
        Computes the absolute value.

        .. versionadded:: 1.3

    acos(col)
        :return: inverse cosine of `col`, as if computed by `java.lang.Math.acos()`

        .. versionadded:: 1.4

    add_months(start, months)
        Returns the date that is `months` months after `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(add_months(df.dt, 1).alias('next_month')).collect()
        [Row(next_month=datetime.date(2015, 5, 8))]

        .. versionadded:: 1.5

    approxCountDistinct(col, rsd=None)
        .. note:: Deprecated in 2.1, use :func:`approx_count_distinct` instead.

        .. versionadded:: 1.3

    approx_count_distinct(col, rsd=None)
        Aggregate function: returns a new :class:`Column` for approximate distinct count of column `col`.

        :param rsd: maximum estimation error allowed (default = 0.05). For rsd < 0.01, it is more
            efficient to use :func:`countDistinct`

        >>> df.agg(approx_count_distinct(df.age).alias('distinct_ages')).collect()
        [Row(distinct_ages=2)]

        .. versionadded:: 2.1

    array(*cols)
        Creates a new array column.

        :param cols: list of column names (string) or list of :class:`Column` expressions that have
            the same data type.

        >>> df.select(array('age', 'age').alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]
        >>> df.select(array([df.age, df.age]).alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]

        .. versionadded:: 1.4

    array_contains(col, value)
        Collection function: returns null if the array is null, true if the array contains the
        given value, and false otherwise.

        :param col: name of column containing array
        :param value: value to check for in array

        >>> df = spark.createDataFrame([(["a", "b", "c"],), ([],)], ['data'])
        >>> df.select(array_contains(df.data, "a")).collect()
        [Row(array_contains(data, a)=True), Row(array_contains(data, a)=False)]

        .. versionadded:: 1.5

    asc(col)
        Returns a sort expression based on the ascending order of the given column name.

        .. versionadded:: 1.3

    ascii(col)
        Computes the numeric value of the first character of the string column.

        .. versionadded:: 1.5

    asin(col)
        :return: inverse sine of `col`, as if computed by `java.lang.Math.asin()`

        .. versionadded:: 1.4

    atan(col)
        :return: inverse tangent of `col`, as if computed by `java.lang.Math.atan()`

        .. versionadded:: 1.4

    atan2(col1, col2)
        :param col1: coordinate on y-axis
        :param col2: coordinate on x-axis
        :return: the `theta` component of the point
           (`r`, `theta`)
           in polar coordinates that corresponds to the point
           (`x`, `y`) in Cartesian coordinates,
           as if computed by `java.lang.Math.atan2()`

        .. versionadded:: 1.4

    avg(col)
        Aggregate function: returns the average of the values in a group.

        .. versionadded:: 1.3

    base64(col)
        Computes the BASE64 encoding of a binary column and returns it as a string column.

        .. versionadded:: 1.5

    bin(col)
        Returns the string representation of the binary value of the given column.

        >>> df.select(bin(df.age).alias('c')).collect()
        [Row(c='10'), Row(c='101')]

        .. versionadded:: 1.5

    bitwiseNOT(col)
        Computes bitwise not.

        .. versionadded:: 1.4

    broadcast(df)
        Marks a DataFrame as small enough for use in broadcast joins.

        .. versionadded:: 1.6

    bround(col, scale=0)
        Round the given value to `scale` decimal places using HALF_EVEN rounding mode if `scale` >= 0
        or at integral part when `scale` < 0.

        >>> spark.createDataFrame([(2.5,)], ['a']).select(bround('a', 0).alias('r')).collect()
        [Row(r=2.0)]

        .. versionadded:: 2.0

    cbrt(col)
        Computes the cube-root of the given value.

        .. versionadded:: 1.4

    ceil(col)
        Computes the ceiling of the given value.

        .. versionadded:: 1.4

    coalesce(*cols)
        Returns the first column that is not null.

        >>> cDf = spark.createDataFrame([(None, None), (1, None), (None, 2)], ("a", "b"))
        >>> cDf.show()
        +----+----+
        |   a|   b|
        +----+----+
        |null|null|
        |   1|null|
        |null|   2|
        +----+----+

        >>> cDf.select(coalesce(cDf["a"], cDf["b"])).show()
        +--------------+
        |coalesce(a, b)|
        +--------------+
        |          null|
        |             1|
        |             2|
        +--------------+

        >>> cDf.select('*', coalesce(cDf["a"], lit(0.0))).show()
        +----+----+----------------+
        |   a|   b|coalesce(a, 0.0)|
        +----+----+----------------+
        |null|null|             0.0|
        |   1|null|             1.0|
        |null|   2|             0.0|
        +----+----+----------------+

        .. versionadded:: 1.4

    col(col)
        Returns a :class:`Column` based on the given column name.

        .. versionadded:: 1.3

    collect_list(col)
        Aggregate function: returns a list of objects with duplicates.

        >>> df2 = spark.createDataFrame([(2,), (5,), (5,)], ('age',))
        >>> df2.agg(collect_list('age')).collect()
        [Row(collect_list(age)=[2, 5, 5])]

        .. versionadded:: 1.6

    collect_set(col)
        Aggregate function: returns a set of objects with duplicate elements eliminated.

        >>> df2 = spark.createDataFrame([(2,), (5,), (5,)], ('age',))
        >>> df2.agg(collect_set('age')).collect()
        [Row(collect_set(age)=[5, 2])]

        .. versionadded:: 1.6

    column(col)
        Returns a :class:`Column` based on the given column name.

        .. versionadded:: 1.3

    concat(*cols)
        Concatenates multiple input columns together into a single column.
        If all inputs are binary, concat returns an output as binary. Otherwise, it returns as string.

        >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
        >>> df.select(concat(df.s, df.d).alias('s')).collect()
        [Row(s='abcd123')]

        .. versionadded:: 1.5

    concat_ws(sep, *cols)
        Concatenates multiple input string columns together into a single string column,
        using the given separator.

        >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
        >>> df.select(concat_ws('-', df.s, df.d).alias('s')).collect()
        [Row(s='abcd-123')]

        .. versionadded:: 1.5

    conv(col, fromBase, toBase)
        Convert a number in a string column from one base to another.

        >>> df = spark.createDataFrame([("010101",)], ['n'])
        >>> df.select(conv(df.n, 2, 16).alias('hex')).collect()
        [Row(hex='15')]

        .. versionadded:: 1.5

    corr(col1, col2)
        Returns a new :class:`Column` for the Pearson Correlation Coefficient for ``col1`` and ``col2``.

        >>> a = range(20)
        >>> b = [2 * x for x in range(20)]
        >>> df = spark.createDataFrame(zip(a, b), ["a", "b"])
        >>> df.agg(corr("a", "b").alias('c')).collect()
        [Row(c=1.0)]

        .. versionadded:: 1.6

    cos(col)
        :param col: angle in radians
        :return: cosine of the angle, as if computed by `java.lang.Math.cos()`.

        .. versionadded:: 1.4

    cosh(col)
        :param col: hyperbolic angle
        :return: hyperbolic cosine of the angle, as if computed by `java.lang.Math.cosh()`

        .. versionadded:: 1.4

    count(col)
        Aggregate function: returns the number of items in a group.

        .. versionadded:: 1.3

    countDistinct(col, *cols)
        Returns a new :class:`Column` for distinct count of ``col`` or ``cols``.

        >>> df.agg(countDistinct(df.age, df.name).alias('c')).collect()
        [Row(c=2)]

        >>> df.agg(countDistinct("age", "name").alias('c')).collect()
        [Row(c=2)]

        .. versionadded:: 1.3

    covar_pop(col1, col2)
        Returns a new :class:`Column` for the population covariance of ``col1`` and ``col2``.

        >>> a = [1] * 10
        >>> b = [1] * 10
        >>> df = spark.createDataFrame(zip(a, b), ["a", "b"])
        >>> df.agg(covar_pop("a", "b").alias('c')).collect()
        [Row(c=0.0)]

        .. versionadded:: 2.0

    covar_samp(col1, col2)
        Returns a new :class:`Column` for the sample covariance of ``col1`` and ``col2``.

        >>> a = [1] * 10
        >>> b = [1] * 10
        >>> df = spark.createDataFrame(zip(a, b), ["a", "b"])
        >>> df.agg(covar_samp("a", "b").alias('c')).collect()
        [Row(c=0.0)]

        .. versionadded:: 2.0

    crc32(col)
        Calculates the cyclic redundancy check value  (CRC32) of a binary column and
        returns the value as a bigint.

        >>> spark.createDataFrame([('ABC',)], ['a']).select(crc32('a').alias('crc32')).collect()
        [Row(crc32=2743272264)]

        .. versionadded:: 1.5

    create_map(*cols)
        Creates a new map column.

        :param cols: list of column names (string) or list of :class:`Column` expressions that are
            grouped as key-value pairs, e.g. (key1, value1, key2, value2, ...).

        >>> df.select(create_map('name', 'age').alias("map")).collect()
        [Row(map={'Alice': 2}), Row(map={'Bob': 5})]
        >>> df.select(create_map([df.name, df.age]).alias("map")).collect()
        [Row(map={'Alice': 2}), Row(map={'Bob': 5})]

        .. versionadded:: 2.0

    cume_dist()
        Window function: returns the cumulative distribution of values within a window partition,
        i.e. the fraction of rows that are below the current row.

        .. versionadded:: 1.6

    current_date()
        Returns the current date as a :class:`DateType` column.

        .. versionadded:: 1.5

    current_timestamp()
        Returns the current timestamp as a :class:`TimestampType` column.

    date_add(start, days)
        Returns the date that is `days` days after `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(date_add(df.dt, 1).alias('next_date')).collect()
        [Row(next_date=datetime.date(2015, 4, 9))]

        .. versionadded:: 1.5

    date_format(date, format)
        Converts a date/timestamp/string to a value of string in the format specified by the date
        format given by the second argument.

        A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
        pattern letters of the Java class `java.text.SimpleDateFormat` can be used.

        .. note:: Use when ever possible specialized functions like `year`. These benefit from a
            specialized implementation.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
        [Row(date='04/08/2015')]

        .. versionadded:: 1.5

    date_sub(start, days)
        Returns the date that is `days` days before `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(date_sub(df.dt, 1).alias('prev_date')).collect()
        [Row(prev_date=datetime.date(2015, 4, 7))]

        .. versionadded:: 1.5

    date_trunc(format, timestamp)
        Returns timestamp truncated to the unit specified by the format.

        :param format: 'year', 'yyyy', 'yy', 'month', 'mon', 'mm',
            'day', 'dd', 'hour', 'minute', 'second', 'week', 'quarter'

        >>> df = spark.createDataFrame([('1997-02-28 05:02:11',)], ['t'])
        >>> df.select(date_trunc('year', df.t).alias('year')).collect()
        [Row(year=datetime.datetime(1997, 1, 1, 0, 0))]
        >>> df.select(date_trunc('mon', df.t).alias('month')).collect()
        [Row(month=datetime.datetime(1997, 2, 1, 0, 0))]

        .. versionadded:: 2.3

    datediff(end, start)
        Returns the number of days from `start` to `end`.

        >>> df = spark.createDataFrame([('2015-04-08','2015-05-10')], ['d1', 'd2'])
        >>> df.select(datediff(df.d2, df.d1).alias('diff')).collect()
        [Row(diff=32)]

        .. versionadded:: 1.5

    dayofmonth(col)
        Extract the day of the month of a given date as integer.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(dayofmonth('dt').alias('day')).collect()
        [Row(day=8)]

        .. versionadded:: 1.5

    dayofweek(col)
        Extract the day of the week of a given date as integer.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(dayofweek('dt').alias('day')).collect()
        [Row(day=4)]

        .. versionadded:: 2.3

    dayofyear(col)
        Extract the day of the year of a given date as integer.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(dayofyear('dt').alias('day')).collect()
        [Row(day=98)]

        .. versionadded:: 1.5

    decode(col, charset)
        Computes the first argument into a string from a binary using the provided character set
        (one of 'US-ASCII', 'ISO-8859-1', 'UTF-8', 'UTF-16BE', 'UTF-16LE', 'UTF-16').

        .. versionadded:: 1.5

    degrees(col)
        Converts an angle measured in radians to an approximately equivalent angle
        measured in degrees.
        :param col: angle in radians
        :return: angle in degrees, as if computed by `java.lang.Math.toDegrees()`

        .. versionadded:: 2.1

    dense_rank()
        Window function: returns the rank of rows within a window partition, without any gaps.

        The difference between rank and dense_rank is that dense_rank leaves no gaps in ranking
        sequence when there are ties. That is, if you were ranking a competition using dense_rank
        and had three people tie for second place, you would say that all three were in second
        place and that the next person came in third. Rank would give me sequential numbers, making
        the person that came in third place (after the ties) would register as coming in fifth.

        This is equivalent to the DENSE_RANK function in SQL.

        .. versionadded:: 1.6

    desc(col)
        Returns a sort expression based on the descending order of the given column name.

        .. versionadded:: 1.3

    encode(col, charset)
        Computes the first argument into a binary from a string using the provided character set
        (one of 'US-ASCII', 'ISO-8859-1', 'UTF-8', 'UTF-16BE', 'UTF-16LE', 'UTF-16').

        .. versionadded:: 1.5

    exp(col)
        Computes the exponential of the given value.

        .. versionadded:: 1.4

    explode(col)
        Returns a new row for each element in the given array or map.

        >>> from pyspark.sql import Row
        >>> eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
        >>> eDF.select(explode(eDF.intlist).alias("anInt")).collect()
        [Row(anInt=1), Row(anInt=2), Row(anInt=3)]

        >>> eDF.select(explode(eDF.mapfield).alias("key", "value")).show()
        +---+-----+
        |key|value|
        +---+-----+
        |  a|    b|
        +---+-----+

        .. versionadded:: 1.4

    explode_outer(col)
        Returns a new row for each element in the given array or map.
        Unlike explode, if the array/map is null or empty then null is produced.

        >>> df = spark.createDataFrame(
        ...     [(1, ["foo", "bar"], {"x": 1.0}), (2, [], {}), (3, None, None)],
        ...     ("id", "an_array", "a_map")
        ... )
        >>> df.select("id", "an_array", explode_outer("a_map")).show()
        +---+----------+----+-----+
        | id|  an_array| key|value|
        +---+----------+----+-----+
        |  1|[foo, bar]|   x|  1.0|
        |  2|        []|null| null|
        |  3|      null|null| null|
        +---+----------+----+-----+

        >>> df.select("id", "a_map", explode_outer("an_array")).show()
        +---+----------+----+
        | id|     a_map| col|
        +---+----------+----+
        |  1|[x -> 1.0]| foo|
        |  1|[x -> 1.0]| bar|
        |  2|        []|null|
        |  3|      null|null|
        +---+----------+----+

        .. versionadded:: 2.3

    expm1(col)
        Computes the exponential of the given value minus one.

        .. versionadded:: 1.4

    expr(str)
        Parses the expression string into the column that it represents

        >>> df.select(expr("length(name)")).collect()
        [Row(length(name)=5), Row(length(name)=3)]

        .. versionadded:: 1.5

    factorial(col)
        Computes the factorial of the given value.

        >>> df = spark.createDataFrame([(5,)], ['n'])
        >>> df.select(factorial(df.n).alias('f')).collect()
        [Row(f=120)]

        .. versionadded:: 1.5

    first(col, ignorenulls=False)
        Aggregate function: returns the first value in a group.

        The function by default returns the first values it sees. It will return the first non-null
        value it sees when ignoreNulls is set to true. If all values are null, then null is returned.

        .. versionadded:: 1.3

    floor(col)
        Computes the floor of the given value.

        .. versionadded:: 1.4

    format_number(col, d)
        Formats the number X to a format like '#,--#,--#.--', rounded to d decimal places
        with HALF_EVEN round mode, and returns the result as a string.

        :param col: the column name of the numeric value to be formatted
        :param d: the N decimal places

        >>> spark.createDataFrame([(5,)], ['a']).select(format_number('a', 4).alias('v')).collect()
        [Row(v='5.0000')]

        .. versionadded:: 1.5

    format_string(format, *cols)
        Formats the arguments in printf-style and returns the result as a string column.

        :param col: the column name of the numeric value to be formatted
        :param d: the N decimal places

        >>> df = spark.createDataFrame([(5, "hello")], ['a', 'b'])
        >>> df.select(format_string('%d %s', df.a, df.b).alias('v')).collect()
        [Row(v='5 hello')]

        .. versionadded:: 1.5

    from_json(col, schema, options={})
        Parses a column containing a JSON string into a :class:`StructType` or :class:`ArrayType`
        of :class:`StructType`\s with the specified schema. Returns `null`, in the case of an
        unparseable string.

        :param col: string column in json format
        :param schema: a StructType or ArrayType of StructType to use when parsing the json column.
        :param options: options to control parsing. accepts the same options as the json datasource

        .. note:: Since Spark 2.3, the DDL-formatted string or a JSON format string is also
                  supported for ``schema``.

        >>> from pyspark.sql.types import *
        >>> data = [(1, '''{"a": 1}''')]
        >>> schema = StructType([StructField("a", IntegerType())])
        >>> df = spark.createDataFrame(data, ("key", "value"))
        >>> df.select(from_json(df.value, schema).alias("json")).collect()
        [Row(json=Row(a=1))]
        >>> df.select(from_json(df.value, "a INT").alias("json")).collect()
        [Row(json=Row(a=1))]
        >>> data = [(1, '''[{"a": 1}]''')]
        >>> schema = ArrayType(StructType([StructField("a", IntegerType())]))
        >>> df = spark.createDataFrame(data, ("key", "value"))
        >>> df.select(from_json(df.value, schema).alias("json")).collect()
        [Row(json=[Row(a=1)])]

        .. versionadded:: 2.1

    from_unixtime(timestamp, format='yyyy-MM-dd HH:mm:ss')
        Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a string
        representing the timestamp of that moment in the current system time zone in the given
        format.


In [30]:
df.groupBy('Chart_Status').count().show()

+--------------------+-----+
|        Chart_Status|count|
+--------------------+-----+
|  PALACIOS, MICHELLE|   10|
|           Non-admit| 1284|
|       WYNN, THERESA|    1|
|           Wait List|    7|
|          KIM, NAOMI|   20|
|       QUIROZ, DAISY|   33|
|           GO, DIANA|   20|
|Transition TO CCTALW|   90|
|     BERMAN, DEBORAH|   12|
|       Raiken, Susan|   22|
|       SHAHAM, YAFIT|    7|
|            Admitted| 2749|
|      BEMEL, MELANIE|    5|
|      GEWIRTZ, JENNA|    1|
|CCA Preadmit Slot...|    3|
|     ROJAS, JENNIFER|   13|
|    GUEVARA, NATALIE|    4|
|       REYES, MARCUS|    2|
|Transition To CCT...|   22|
|          NAVAL, ANA|    2|
+--------------------+-----+
only showing top 20 rows

In [31]:
df.groupBy('Chart_Status').agg(F.countDistinct('SSN').alias('CNT'),F.count('ADDR').alias('ADDR_CNT')).show()

+--------------------+---+--------+
|        Chart_Status|CNT|ADDR_CNT|
+--------------------+---+--------+
|  PALACIOS, MICHELLE|  1|      10|
|           Non-admit|803|    1284|
|       WYNN, THERESA|  1|       1|
|           Wait List|  4|       7|
|          KIM, NAOMI|  1|      20|
|       QUIROZ, DAISY|  1|      33|
|           GO, DIANA|  1|      20|
|Transition TO CCTALW| 78|      90|
|     BERMAN, DEBORAH|  1|      12|
|       Raiken, Susan|  1|      22|
|       SHAHAM, YAFIT|  1|       7|
|            Admitted|451|    2749|
|      BEMEL, MELANIE|  1|       5|
|      GEWIRTZ, JENNA|  1|       1|
|CCA Preadmit Slot...|  2|       3|
|    GUEVARA, NATALIE|  1|       4|
|     ROJAS, JENNIFER|  1|      13|
|       REYES, MARCUS|  1|       2|
|Transition To CCT...| 20|      22|
|          NAVAL, ANA|  1|       2|
+--------------------+---+--------+
only showing top 20 rows

In [32]:
df.agg(F.count(df.Chart_Status).alias('c')).collect()

[Row(c=4560)]

In [33]:
df.cube('Chart_Status').agg(F.grouping('Chart_Status'),F.count('Chart_Status')).orderBy('Chart_Status').show()

+--------------------+----------------------+-------------------+
|        Chart_Status|grouping(Chart_Status)|count(Chart_Status)|
+--------------------+----------------------+-------------------+
|                null|                     1|               4560|
|     ARIAS, GABRIELA|                     0|                  4|
|            Admitted|                     0|               2749|
|      BEMEL, MELANIE|                     0|                  5|
|     BERMAN, DEBORAH|                     0|                 12|
|        CCA Preadmit|                     0|                  1|
|CCA Preadmit Appl...|                     0|                  9|
|CCA Preadmit Appl...|                     0|                  6|
|CCA Preadmit Slot...|                     0|                  3|
|   CORTEZ, CELESTINA|                     0|                  2|
|      ESCANO, KARINA|                     0|                  2|
|      FIGUEROA, ELIA|                     0|                 24|
|      GEWIRTZ, JENNA|                     0|                  1|
|           GO, DIANA|                     0|                 20|
|    GUEVARA, NATALIE|                     0|                  4|
|      HARRIS, SOPHIA|                     0|                  2|
|      Istrin, Yehuda|                     0|                  1|
|          KIM, NAOMI|                     0|                 20|
|        LOPEZ, JENNY|                     0|                  3|
|       MARKIE, DAVID|                     0|                  1|
+--------------------+----------------------+-------------------+
only showing top 20 rows

In [35]:

df.createOrReplaceTempView('df')

data12=spark.sql('select Chart_Status,count(*) from df group by Chart_Status')
data12.show()

+--------------------+--------+
|        Chart_Status|count(1)|
+--------------------+--------+
|  PALACIOS, MICHELLE|      10|
|           Non-admit|    1284|
|       WYNN, THERESA|       1|
|           Wait List|       7|
|          KIM, NAOMI|      20|
|       QUIROZ, DAISY|      33|
|           GO, DIANA|      20|
|Transition TO CCTALW|      90|
|     BERMAN, DEBORAH|      12|
|       Raiken, Susan|      22|
|       SHAHAM, YAFIT|       7|
|            Admitted|    2749|
|      BEMEL, MELANIE|       5|
|      GEWIRTZ, JENNA|       1|
|CCA Preadmit Slot...|       3|
|     ROJAS, JENNIFER|      13|
|    GUEVARA, NATALIE|       4|
|       REYES, MARCUS|       2|
|Transition To CCT...|      22|
|          NAVAL, ANA|       2|
+--------------------+--------+
only showing top 20 rows

In [36]:
df1= df.withColumn('ID',F.lit(1))
df1.show()

+--------------------+-------------+-----------+--------------------+--------------------+---+
|             Patient|Date of Birth|        SSN|                ADDR|        Chart_Status| ID|
+--------------------+-------------+-----------+--------------------+--------------------+---+
|     AASGAARD, LINDA|   05/14/1943|         NA|1400 CIRCLE CITY ...|            Admitted|  1|
|      ABBAS, ALIDAEE|   04/03/1952|         NA|13881 DAWSON ST G...|            Admitted|  1|
|    ABDOLI, MOHAMMAD|   08/25/1948|443-74-4056|466 FLAGSHIP RD N...|           Non-admit|  1|
|         ABLE, SHARI|   06/06/1939|  566488725|225 North Crescen...|            Admitted|  1|
|Above & Beyond, F...|         null|         NA|                  NA|Transition TO CCTALW|  1|
|   ABRAHAM, FLORENCE|   01/13/1937|554-58-4615|225 NORTH CRESCEN...|            Admitted|  1|
|ABRAMS, JEAN MARI...|   10/31/1954|         NA|9925 LA ALAMEDA A...|            Admitted|  1|
|     ABRAMSON, ALIZA|   06/23/1933|         NA|1250 BOYNTON ST G...|            Admitted|  1|
|    ABRIOL, THEODORE|   02/14/1965|         NA|25533 RUA MICHELL...|            Admitted|  1|
|        ACEBES, NORA|   12/09/1932|         NA|12229 CHANDLER BL...|            Admitted|  1|
|  ACEBO, LEONORA (I)|   12/17/1930|613-12-4094|654 S ANZA ST EL ...|           Non-admit|  1|
|       ACEVES, LAURA|   03/07/1994|         NA|3312 COFFEE RD MO...|            Admitted|  1|
|   ACHA, ARGELIA (I)|   04/09/1924|552-02-9800|22520 MAPLE AVE T...|           Non-admit|  1|
|      ACOSTA, ALFRED|   05/07/1930|         NA|9925 LA ALAMEDA A...|            Admitted|  1|
|       ACOSTA, LINDA|   12/23/1961|         NA|3175 E. WASHINGTO...|            Admitted|  1|
|    ACOSTA, ROSEMARY|   05/13/1953|546-94-2154|1665 M ST FRESNO,...|           Non-admit|  1|
|       ACUNA, CARMEN|   07/21/1940|         NA|845 BRDWY #313 CH...|           Non-admit|  1|
|       ACUNA, CARMEN|   07/21/1940|         NA| 3223 DUKE ST.  S...|            Admitted|  1|
|     ADAME, CLEMENTE|   12/07/1938|466-58-9049|2211 WEST 6TH STR...|            Admitted|  1|
|      ADAMES, ELIJAH|   01/18/2018|         NA|13204 MIRA SOL DR...|            Admitted|  1|
+--------------------+-------------+-----------+--------------------+--------------------+---+
only showing top 20 rows

In [37]:
df1.printSchema()

root
 |-- Patient: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- SSN: string (nullable = false)
 |-- ADDR: string (nullable = false)
 |-- Chart_Status: string (nullable = true)
 |-- ID: integer (nullable = false)

In [39]:
df1=df1.withColumn('ID',F.col('ID').cast('string'))
df1.printSchema()

root
 |-- Patient: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- SSN: string (nullable = false)
 |-- ADDR: string (nullable = false)
 |-- Chart_Status: string (nullable = true)
 |-- ID: string (nullable = false)